*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.output{
    font-weight: bold;
}

#payment{
    text-decoration: underline;
}

#graph{
    border: 1px solid black;
}

th, td{
    vertical-align: top;
}